/* Web Font Load */
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');


body {
		width: 100%
	text-align: center;
	
	font-family: 'Poor Story';
	font-size: 1em;	
	
}

html {
	width: 100%
	text-align: center;
	font-size: 1em;
    	font-family:'Poor Story';	 
}
